
<ion-header>

  <ion-navbar>
    <ion-title>Carta Restaurante</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <button ion-button (click)="mostrar_formulario()">Crear Categoria</button>
        <form *ngIf="buttonClicked" (ngSubmit)="crear_categoria()">
            <ion-item>
              <ion-label>Nombre</ion-label>
              <ion-input type="text" [(ngModel)]="categoria.nombre" name="name" required></ion-input>
            </ion-item>
            <br>
            <button ion-button [disabled]="categoria.nombre.length<2" type="submit" block>Crear</button>
          </form>
        <br>
        <button ion-button (click)="agregar_producto()" >Agregar Producto</button>
        <ion-item *ngFor="let item of restaurantService.cartarestaurante">
          <ion-col>
            <p>
              <br>
              Nombre: {{item.nombre}}
              <br>
              Precio: {{item.precio}}
              <br>
              Tipo: {{item.tipo}}
              <br>
              Información: {{item.informacion}}
              <br>
              Categoría: {{item.categoria}}
              <br>
              <button ion-button (click)="modificar_producto(item.idProducto)">Modificar</button>
              <br>
              <button ion-button (click)="eliminar_producto(item.idProducto)">Eliminar</button>
            </p>
          </ion-col>
        </ion-item>
      </ion-grid>

</ion-content>
