
<ion-header>

  <ion-navbar>
    <ion-title>Mi Perfil</ion-title>

    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-item *ngFor="let item of userService.infouser">
          <ion-col>
            Nick: {{item.nombre}}
            <p>
              <br>
              Nombre: {{item.nombre}}
              <br>
              email: {{item.email}}
            </p>
            <button ion-button (click)="mis_reservas()">Historial de reservas</button>
            <button ion-button (click)="modificarperfil()">Modificar Perfil</button>
          </ion-col>
        </ion-item>
        <br>
        <br>
              <!-- puesto temporalmente arriba hasta decidir como hacerlo-->
              <h3>Reservas pendientes</h3>
              <ion-item  *ngFor="let item of userService.reservafutura">
                <ion-col>
                    Restaurante: {{item.nombre}}
                    <p>
                      <br>
                      Dia: {{ item.dia | date : format : timezone}}
                      <br>
                      Hora: {{item.hora}}
                      <br>
                      Comensales: {{item.comensales}}
                    </p>
                    <button ion-button (click)="eliminar_reserva(item.idReserva)">Eliminar</button>
                    <button ion-button (click)="modificar_reserva(item.idReserva)">Modificar reserva</button>
                  </ion-col>
            </ion-item>
      </ion-grid>

</ion-content>
