page-reservar {
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        background-color:#76323F;
        width: 80%;
        margin: 0 auto;
    }
    .button-md{
        margin-top: 100%;

    }
    .scroll-content{
        margin-top: 20%!important;
    }
}
