page-allrestaurants {
     ion-icon.ion-md-search{
         font-size: 2em!important;
         color: red!important;
     }
     ion-col.col{
         font-size:1.4em;
     }
     .item-md p{
        font-size: 15px;
    }
    .item-md button{
        
    }
}
