<ion-header>

  <ion-navbar>

      <ion-title>
        Restaurantes
      </ion-title>

    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>
      <button ion-button (click)="mostrar_formulario()"> <ion-icon name="search"></ion-icon> Buscador</button>
      <br>
      <button *ngIf="buttonClicked2" ion-button (click)="todos_restaurantes()"> Ver todos los restaurantes</button>
      <form *ngIf="buttonClicked" (ngSubmit)="busquedaavanzada()">
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="busqueda.nombre" name="nombre" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Ciudad</ion-label>
            <ion-input type="text" [(ngModel)]="busqueda.ciudad" name="ciudad" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Tipo de comida</ion-label>
            <ion-input type="text" [(ngModel)]="busqueda.tipoComida" name="tipo" required></ion-input>
          </ion-item>
          <br>
          <button ion-button type="submit" block>Buscar</button>
        </form>
        <h2>Restaurantes</h2>
        <br>
        <ion-item *ngFor="let item of restaurantService.restaurantes">
          <ion-col>
            {{item.nombre}}
            <p>
              <br>
              Comida: {{item.tipoComida}}
              <br>
              Horario: {{item.horario}}
              <br>
              <button ion-button (click)="ver_restaurante(item.idRestaurante)">Ver Restaurante</button>
            </p>
          </ion-col>
        </ion-item>
      </ion-grid>
  </ion-content>
