page-allrestaurants {
     ion-icon.ion-md-search{
         font-size: 2em!important;
         color: white!important;
     }
     ion-col.col{
         font-size:1.4em;
     }
     .item-md p{
        font-size: 14px;
    }
   
    img{
        width: auto!important;
        height: 100%!important;
    }

    /*buscador cada vez tiene un id diferente
    #lbl{
        margin-top: 4em!important; 
    }
    #lbl-13{
        margin-top: 1em!important; 
    }
    #lbl-14{
        margin-top: 1em!important; 
    }*/
    h2{
        font-size: 3.0rem;
        color:#76323F;
    }
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        background-color:#76323F;
    }
  
}
