page-carta {
    .item-md{
        background-color:transparent;
    }
    ion-label{
        white-space: normal;
        margin-top: -15px!important;
    }
       
    /*img{
        width: auto!important;
        height: 100%!important;
    }*/

    h2{
        font-size: 3.0rem;
        color:#76323F;
    }
    .item-md ion-thumbnail img{
      width: 120px!important;
      height: 120px!important;
    }
}
