page-carta {
    .item-md{
        background-color:transparent;
    }
    ion-label{
        white-space: normal;
    }

    h2{
        font-size: 3.0rem;
        color:#76323F;
    }
    .icon-md{
        font-size: 25px;
    }
    h4{
        font-size: 3.0rem;
        color:#76323F;
    }
}
