page-login {
    .item-md{
        background-color: #fff0;
    }
    .button-default-md{
        background-color:#76323F;
    }
    /*
    .label-md{
        //color:#76323F!important;
    }
  
    .scroll-content{
        margin-top: 35px!important;
    }*/
}
