page-login {
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        background-color:#76323F;
    }
    img{
        margin-top: 2em;
        margin-left: 4.5em;
    }
    .button-md{
        margin-top: 2em;
    }
    .toolbar-md{
        color:#D7CEC7!important;
    }
    /*
    .label-md{
        //color:#76323F!important;
    }
  
    .scroll-content{
        margin-top: 35px!important;
    }*/
}
