page-modificarperfil {
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        background-color:#76323F;
        width: 85%;
        margin: auto;
        margin-top: 1.8em;
    }
}
