page-restaurant {
    ion-thumbnail{
        width: 20%;
        min-width: 0!important;
    }
    .item-md{
        background-color: #fff0;
    }
    .button-outline-md{
        color:#76323F;
        border-color:#76323F;
    }
    .button-default-md{
        background-color:#76323F;
    }
    h3{
        color:#76323F;
    }

    
}
