page-restaurant {

    ion-thumbnail{
        width: 20%;
        min-width: 0!important;
    }
    .item-md{
        background-color:transparent;
        
    }
    .button-outline-md{
        color:#76323F;
        border-color:#76323F;
    }
    .button-default-md{
        background-color:#76323F;
    }
    h3{
        color:#76323F;
    }
    h4{
        color:#76323F;
        font-size: 1em!important;
    }
    .scroll-content{
        margin-top: 30px!important;
    }
    ion-row>span{
        font-size: 0.55em!important;
        margin-right:-20em!important;
    }
    .button-md{
        width: 45%!important;
    }
    ion-label{
        white-space: normal
    }

      
}
