page-miscategorias {
    .item-md{
        background-color: #fff0;
    }
    .col{
        color:#76323F;
        text-align: center;
        
    }
    .label-md{
        margin-top:12px;
    
    }
    .bar-buttons-md{
        margin-bottom: 12px!important;
        margin-top: -12px!important;
    }
    ion-icon.ion-md-search{
        background-color:#fff0;
        color:#76323F;
    }
}
