page-iniciarpedido {
    .item-md{
        background-color: #fff0;
    }
    .button-default-md{
        background-color:#76323F;
    }
    h3{
        margin-top:1.2em;
        color:#76323F;
        //text-align:center;
        font-size: 1.6em!important;
    }
    h4{
        color:#76323F;
        //text-align:center;
        font-size: 1.1em!important;
    }
}
