page-loginrestaurante {

    .item-md{
        background-color:transparent;
    }

    .grid{
        font-size: 1.1em;
    }
    .button-md{
        margin-top: 3em;
        background-color:#76323F;
    }
    .ng-dirty{
        font-size: 1.1em;
    }

}
