page-agregarproductopedido {

    .item-md{
        background: transparent;
    }

    .item-md button{
        position: absolute;
        right: 3px;
        padding: 1.3em 1.5em!important;
    }

    .label-md{
        margin: 1.5em 0em;
    }

    .col{
        font-size: 1.5em;
    }
    .button-md{
        background-color:#76323F;
    }

}
