page-login {

    .button-md-login{
        font-size: 1.7rem;
        margin: 1em 0em;
        padding: 1.5em;
    }

    .button-ios-login{
        font-size: 1.7rem;
        margin: 1em 0em;
        padding: 1.5em;
    }

}
