page-carta {
    .button-md{
        background-color:#76323F;
    }
    .badge-md{
        top:-8px;
         left:20px;
         position: absolute;
    }
    .icon-md{
        margin-right: 15px;
    }
}
