page-productospedido {
    .item-md{
        background-color: #fff0;
    }
    .button-default-md{
        background-color:#76323F;
    }
    .scroll-content{
        margin-top: 35px!important;
    }
    h4{
        color:#76323F;
        //text-align:center;
        font-size: 1.1em!important;
    }
}
