page-pedidos-antiguos {
    .item-md{
        background-color:transparent;
    }
    h4{
        color:#76323F;
        //text-align:center;
        font-size: 1.1em!important;
    }
    ion-label{
        white-space: normal
    }
}
