<ion-header>

  <ion-navbar>
    <ion-title>Mis Reservas</ion-title>

    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <br>
        <button  ion-button (click)="historial()">Historial de reservas</button>
        <ion-item *ngIf="!buttonClicked2" >
          <ion-col *ngFor="let item of userService.reservasusuario">
            <h4>{{item.nombre}}</h4>
            <p>
              <br>
              <b>Dia:</b> {{ item.dia | date : format : timezone}}
              <br>
              <b>Hora:</b> {{item.hora}}
              <br>
              <b>Comensales:</b> {{item.comensales}}
            </p>
            <button ion-button (click)="verpedido(item.idPedido)" >Ver pedido</button>
            <hr>
          </ion-col>
        </ion-item>
        <br>
        <button ion-button (click)="pendientes()">Reservas pendientes</button>
        <ion-item *ngIf="!buttonClicked" >
          <ion-col *ngFor="let item of userService.reservafutura">
            Restaurante: {{item.nombre}}
            <p>
              <br>
              Dia: {{ item.dia | date : format : timezone}}
              <br>
              Hora: {{item.hora}}
              <br>
              Comensales: {{item.comensales}}
            </p>
            <button ion-button (click)="eliminar_reserva(item.idReserva)">Eliminar</button>
            <button ion-button (click)="modificar_reserva(item.idReserva)">Modificar reserva</button>
            <hr>
          </ion-col>
        </ion-item>
      </ion-grid>

</ion-content>
