page-pedir {
    .item-md{
        background-color:transparent;
    }
    .button-default-md{
        background-color:#76323F;
        width: 85%;
        
    }
    .badge-md{
     top:-8px;
      left:20px;
      position: absolute;
    }
    .icon-md{
        margin-right: 15px;
    }
    ion-label{
        white-space: normal;
    }
    ion-thumbnail img{
        width: 100px!important;
        height: 100px!important;
      }
    .icon-md{
        font-size: 2.2rem;
        
    }
    p>button{
        margin-top: -6px!important;
        
    }
    .ion-md-information-circle{
        color: #76323F;
    }
    b{
        float: right;
        padding-bottom: 1.5em;
      }
      .item-md p{
        font-size: 1.7rem;
        color:#76323F;
    }
    p{
        margin-left: 1.2em!important; 
    }
    .button-inner{
        font-size: 0.9em;
    }
    p>b{
        color:black;
    }
    .button-md{
        background-color: #76323F!important;
    }
}
